@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">La Página que intentas solicitar no esta disponible (Error).</h1>
<hr />

<h2 class="text-danger" style="position:absolute; top:35%; left:47%; transform:rotateY(-50%); "> OW </h2>

<img src="~/Image/error-404-foxplay.png" style="width:100%; height:100%;" />


    
