@page "/Login"
@layout AuthLayout

<div class="row">
    
    <div class="col-12">

        <h2> Login </h2>


        <br />
        <br />
        <label>Usuario</label>
        <input type="text" />
        <br />
        <br />
        <label>Contraseña</label>
        <input type="password" />
        <br />
        <br />

    </div>

</div>

@code {

    //RegisterRequest Model = new RegisterRequest();

    //bool isBusy = false;
    //string message = string.Empty;
    //Models.AlertMessageType messageType = Models.AlertMessageType.Success;

    //public async Task RegisterUser()
    //{
    //    isBusy = true;
    //    var resul = await authService.RegisterUserAsync(model);

    //    if (resul.IsSuccess)
    //    {
    //        message = resul.Message;
    //        messageType = Models.AlertMessageType.Success;
    //    }
    //    else
    //    {

    //    }
    //    isBusy = false;
    //}

}
