
<br />
<br />

<h3>Filtro de Busqueda</h3>
<hr />

<br />
<div class="p-2  d-inline-block">

    <label class="h4"> Buscar por titulo </label>

    <input type="text" width="100" />

    <input type="submit" value="Buscar" class="btn btn-sm btn-outline-dark" />

</div>


@code {

}
