@page "/P_Login"
@layout AuthLayout

@using ITQJ.WebPWA.Models;

<div class="row">

    <div class="col-12">

        <h2>Crear nuevo usuario</h2>

        <EditForm Model="user" OnValidSubmit="InitSection">

            <RadzenCard>

                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Nombre de Usuario</label>
                <RadzenTextBox @bind-Value="@user.UserName"></RadzenTextBox>

                <label>Contraseña</label>
                <RadzenPassword @bind-Value="@user.Password"></RadzenPassword>

                <br />

                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Iniciar Sección" ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block" mr-2 />
                <hr />

                <label class="text-center">¿Aún no tienes una cuenta?</label>
                <RadzenButton ButtonType="Radzen.ButtonType.Button"  @onclick="Registro" Text="Registarse" ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block" mr-2 />

                <br />

            </RadzenCard>

        </EditForm>

    </div>

</div>

@code
{
    User user = new User();

    public void InitSection()
    {

    }

    private void Registro()
    {

    }
}
