* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
    box-sizing:border-box;
}


header{
    margin-bottom:1%;
}

    header main footer {
        background: #fff;
        width: 100%;
        margin: 3px auto;
    }

.navegador {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 65px;
    background: #323A40;
}

    .navegador .navegador-linea {
        width:100%;
        top:30px;
        z-index:2;
        height:30px; 
        bottom:0px;
    }

    .navegador .logo {
        left: 50%;
        z-index: 3;
        transform: translate(-50%,-20%);
        position: absolute;
        display: inline-block;
    }

    .navegador .menu-sandwich {
        position: absolute;
        z-index: 3;
        left: 5%;
        top:22px;
        display: none;
    }

    .navegador .menu-deplegable {
        position: absolute;
        z-index: 3;
        right: 5%;
    }

main 
{
    min-height: calc(100vh - 65px - 60px);
}

.Main {
    padding: 0% 1% 0% 1%;
}

.Main .articles {
    width: 84%;
    float: right;
}

.Main .articles article {
    padding: 1%;
    background: #fff;
    margin-bottom: 1%;
    padding-top:60px;
}

aside {
    width: 15%;
    float: left;
    box-sizing: border-box;
}

footer {
    position:relative;
    background: #000;
    color: #fff;
    clear: both;
    padding: 2px 0px;
    margin-bottom:1.5%;
    height:30px;
}

.footerContainer label{
    margin:0px 0px 0px 15px;
}

.footerContainer a {
    color: #fff;
    display: inline;
    padding: 0px 5px 0px 5px;
}

.sandwich-botton {
    visibility: hidden;
}


.ButtonUp {
    outline: none;
    float: left;
    background-color: white;
    border: 1px double white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    bottom: 40px;
    text-decoration: none;
    background-image: url(/Image/flecha-hacia-arriba.svg);
}

    .ButtonUp:hover {
        background-color: gray;
    }

@media (min-width: 1300px) {

    #navbarSupportedContent1 {
        display: none;
    }

}


@media (max-width: 1300px)
{
    .menu-deplegable {
        visibility: hidden;
    }

    .sandwich-botton {
        visibility: visible;
    }

}

@media (max-width: 1138px) 
{
    aside {
        visibility: hidden;
        position: absolute;
    }

    .Main .articles {
        width: 100%;
    }

}

@media (min-width: 1012) {

    .footerContainer a {
        display: block;
    }

}


.donacion {
    text-align: center;
    font: normal 1em verdana;
    border: 5px double black;
    background-color: white;
    width: 95%;
    margin: 3px 1.5px;
    padding: 0.5px;
    float: left;
    border-radius: 15px;
}

.licencia {
    font: 0.7em verdana;
    width: 95%;
    background-color: white;
    border: 5px double black;
    margin: 3px 1.5px;
    float: left;
    padding: 3px;
    border-radius: 10px;
    text-align: left;
}

    .licencia a img {
        display: block;
        margin: auto;
    }