* {
    margin: 0px;
    padding: 0px;
}

.ContSkill1 {
    margin: 0px;
}

.conte-Edict {
    height: 180px;
}

.ContSkill2 {
    text-align: center;
    align-content: center;
}


.titulo {
    width: 130px;
}

.DivIMG {
    margin-top: 10px;
    width: 130px;
}

.ContPorcen {
    margin-top: 10px;
    width: 130px;
}


.conte {
    float: left;
    display: inline-block;
    height: 180px;
    margin: 7px;
}

.Check {
    position: relative;
    top: 5px;
    float: right;
    margin-right: 20px;
}


.Procen {
    width: 50px;
}


img {
    border-radius: 50%;
    height: 70px;
    border: 1px solid transparent;
}

.icon-skill-edict {
    border-radius: 10%;
    border: 1px solid gray;
    margin:0 0 15px 15px;
    background-color:lightgray;
}


    .icon-skill-edict .ContSkill1 {
        display: table;
        table-layout: fixed;
        display: inline-block;
    }

.icon-skill-edict .ContSkill1 .ContSkill2 {
    list-style-type: none;
    display: table-cell;
    text-align: center;
}

.icon-skill-edict .ContSkill1 .ContSkill2 a {
    display: block;
    width: 85px;
    height: 85px;
    transform: translate(25%);
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
}

.icon-skill-edict .ContSkill1 .ContSkill2 a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
}

.icon-skill-edict .ContSkill1 .ContSkill2 a .fa {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 30px;
    color: #262626;
    transition: .5s;    
}

