<div class="container">
    <div class="h3">Woops, looks like you're not authorized to view this page.</div>
    <div>Woul you prefer to <a asp-controller="Home" asp-action="LogOut">log in with other type of account</a> to visit this page?</div>
</div>
