@inherits LayoutComponentBase

@inject IBootstrapCss BootstrapCss

    <RadzenDialog />
    <RadzenNotification />

    <div class="main ">
        <!--bg-lightcyan-->

        <div class="top-row bg-dark">

            <div class="col pt-3 bg-primary">

                <div style=" width:150px; height:75px; ">

                    <img src="/assets/Logo.png" style="
                         position: absolute;
                         display: block;
                         margin: 10px;
                         top: 50%;
                         left: 50%;
                         width: 125px;
                         height: 125px;
                         transform: translate(-110%,-30%)
                         " />

                    <label style=" position:absolute;
                                   bottom:0px;
                                   left: 50%;"> Trabajos Rapidos </label>

                </div>

            </div>

            <div class="text-center border-left col-6 pt-5 border-right bg-primary">

                <nav class="navbar navbar-expand-md">

                    <button type="button" class="navbar-toggler" data-toggle="collpse" data-target="firstNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse">

                        <ul class="collpse">

                            <MenuComponen />

                        </ul>

                    </div>

                </nav>

            </div>

            <div class="col pt-4  bg-primary">

                <div width="100" class="text-center pt-3">

                    <a href="RegisterPage" class="btn btn-sm btn-dark">Registarse / Inicio Sección</a>

                </div>

            </div>

        </div>

        <div class="content px-4">

            @Body

            <br />

        </div>

        
        <footer class="fixed-bottom" style="height:30px; bottom:0px;">

            <div class="row bg-dark">

                <div class="col pb-2 ml-5 bg-primary">

                    <div class="text-left  align-text-bottom">

                        <span class="badge badge-dark badge-pill"> 
                            
                            Copyright © @DateTime.Now.Year.ToString() ITQJ. Reservados todos los derechos.

                        </span>
                    
                    </div>

                </div>

                <div class="text-center pb-3 col-6 bg-primary">



                </div>

                <div class="col pb-2 mr-5 bg-primary">


                </div>

            </div>

        </footer>

    </div>

    @code{

        private bool isServerSide = false;
        protected override async Task OnInitializedAsync()
        {
            try
            {
                await BootstrapCss.SetBootstrapCss("Lux", "4.3.1");
            }
            catch (Exception)
            {
                isServerSide = true;
            }
        }

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (isServerSide && firstRender)
            {
                await BootstrapCss.SetBootstrapCss("Lux", "4.3.1");
            }
        }

    }