* {
    margin: 0px;
    padding: 0px;
}



.conte {
    float: left;
    display: inline-block;
    height: 180px;
    margin: 7px;
}

.conte-Edict {
    height: 180px;
    width:120px;
    margin: 7px;
}

.titulo {
    margin: 0px;
    padding: 0px;
    width: 130px;
}

.Check {
    position: relative;
    top: 5px;
    float: right;
    margin-right: 20px;
}

.ContSkill2 {
    height: 110px;
    text-align: center;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    align-content: center;
}

.ContPorcen {
    margin-right: 20px;
    height: 30px;
    text-align: center;
}

.Procen {
    width: 50px;
}

.ContSkill2 input {
    border: 0;
}

.DivIMG{
    margin-left: 16px;
}

img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 1px solid transparent;
}


/*-------Icon skill ------*/

.icon-skill .ContSkill1 {
    display: table;
    table-layout: fixed;
    display: inline-block;
    align-content: center;
    float: left;
}

    .icon-skill .ContSkill1 .ContSkill2 {
        list-style-type: none;
        padding: 5px;
        display: table-cell;
        text-align: center;
    }

        .icon-skill .ContSkill1 .ContSkill2 a {
            display: block;
            position: relative;
            width: 85px;
            height: 85px;
            background-color: #f1f1f1;
            text-align: center;
            border-radius: 50%;
            padding: 6px;
            box-sizing: border-box;
            text-decoration: none;
            box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            background: -webkit-linear-gradient(0deg,#ccc,#fff);
            background: -moz-linear-gradient(0deg,#ccc,#fff);
            background: -o-linear-gradient(0deg,#ccc,#fff);
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -o-transition: .5s;
        }

            .icon-skill .ContSkill1 .ContSkill2 a:hover {
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
                -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
                cursor: pointer;
            }

            .icon-skill .ContSkill1 .ContSkill2 a .fa {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: calc(60px - 12px);
                font-size: 30px;
                background: -webkit-linear-gradient(0deg,#ccc,#fff);
                background: -moz-linear-gradient(0deg,#ccc,#fff);
                background: -o-linear-gradient(0deg,#ccc,#fff);
                color: #262626;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -o-transition: .5s;
            }

        .icon-skill .ContSkill1 .ContSkill2:nth-child(1) a:hover .fa {
            color: #3b5999;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill .ContSkill1 .ContSkill2:nth-child(2) a:hover .fa {
            color: #dd4b39;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill .ContSkill1 .ContSkill2:nth-child(3) a:hover .fa {
            color: #e4405f;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill .ContSkill1 .ContSkill2:nth-child(4) a:hover .fa {
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
            color: #55acee;
        }

        .icon-skill .ContSkill1 .ContSkill2:nth-child(5) a:hover .fa {
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
            color: #007bb5;
        }





/*------- skill edict ------*/



.icon-skill-edict .ContSkill1 {
    display: table;
    table-layout: fixed;
    display: inline;
    float:left;
}

    .icon-skill-edict .ContSkill1 .ContSkill2 {
        list-style-type: none;
        padding: 5px;
        display: table-cell;
        text-align: center;
    }

        .icon-skill-edict .ContSkill1 .ContSkill2 a {
            display: block;
            position: relative;
            width: 85px;
            height: 85px;
            background-color: #f1f1f1;
            text-align: center;
            border-radius: 50%;
            padding: 6px;
            box-sizing: border-box;
            text-decoration: none;
            box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            background: -webkit-linear-gradient(0deg,#ccc,#fff);
            background: -moz-linear-gradient(0deg,#ccc,#fff);
            background: -o-linear-gradient(0deg,#ccc,#fff);
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -o-transition: .5s;
        }

            .icon-skill-edict .ContSkill1 .ContSkill2 a:hover {
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
                -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
                cursor: pointer;
            }

            .icon-skill-edict .ContSkill1 .ContSkill2 a .fa {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: calc(60px - 12px);
                font-size: 30px;
                background: -webkit-linear-gradient(0deg,#ccc,#fff);
                background: -moz-linear-gradient(0deg,#ccc,#fff);
                background: -o-linear-gradient(0deg,#ccc,#fff);
                color: #262626;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -o-transition: .5s;
            }

        .icon-skill-edict .ContSkill1 .ContSkill2:nth-child(1) a:hover .fa {
            color: #3b5999;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill-edict .ContSkill1 .ContSkill2:nth-child(2) a:hover .fa {
            color: #dd4b39;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill-edict .ContSkill1 .ContSkill2:nth-child(3) a:hover .fa {
            color: #e4405f;
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
        }

        .icon-skill-edict .ContSkill1 .ContSkill2:nth-child(4) a:hover .fa {
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
            color: #55acee;
        }

        .icon-skill-edict .ContSkill1 .ContSkill2:nth-child(5) a:hover .fa {
            background: -webkit-linear-gradient(0deg,#fff,#ddd);
            background: -moz-linear-gradient(0deg,#fff,#ddd);
            background: -o-linear-gradient(0deg,#fff,#ddd);
            color: #007bb5;
        }
