@{
    ViewData["Title"] = "Politica de Cookies";
}


<article id="post-20989" class="post-20989 page type-page status-publish hentry">

    <header class="entry-header">

        <h1 class="entry-title">

            <font style="vertical-align: inherit;">

                <font style="vertical-align: inherit;">Política de cookies</font>

            </font>
        </h1>

    </header>

    <div class="entry-content mt-3">

        <p>
            <font style="vertical-align: inherit;">

                <font style="vertical-align: inherit;"> Este sitio utiliza cookies: pequeños archivos de texto que se colocan en su máquina para ayudar al sitio a proporcionar una mejor experiencia de usuario. </font>

                <font style="vertical-align: inherit;">En general, las cookies se utilizan para retener las preferencias del usuario, almacenar información para cosas como carritos de compras y proporcionar datos de seguimiento anónimos a aplicaciones de terceros como Google Analytics. </font><font style="vertical-align: inherit;">Como regla general, las cookies mejorarán su experiencia de navegación. </font><font style="vertical-align: inherit;">Sin embargo, es posible que prefiera deshabilitar las cookies en este sitio y en otros. </font>

                <font style="vertical-align: inherit;">La forma más efectiva de hacerlo es deshabilitar las cookies en su navegador. </font><font style="vertical-align: inherit;">Sugerimos consultar la sección de Ayuda de su navegador o echar un vistazo al </font>

            </font>

            <a href="http://www.aboutcookies.org/">
                <font style="vertical-align: inherit;">

                    <font style="vertical-align: inherit;">sitio web Acerca de las cookies</font>

                </font>
            </a>

            <font style="vertical-align: inherit;">

                <font style="vertical-align: inherit;"> que ofrece orientación para todos los navegadores modernos.</font>

            </font>

        </p>

        <div class="clearfix">


        </div>

    </div><!-- .entry-content -->

    <footer class="entry-meta">
    </footer>

</article>
