@{
    ViewData["Title"] = "Politica de Cookies";
}


<article id="post-20989"class="post-20989 page type-page status-publish hentry" style="margin: 8% 0% 4% 0%;
        background: #ffffff; border-top: 2px solid #007DFF; border-bottom:2px solid #007DFF; ">

    <div class="gaf-container main-container ">

        <div class="sub-navigation"></div>

        <div id="main" class="container" aria-label="Contenido">

            <div class="clear"></div>
            <div class="c9d-space"></div>
            <ul class="c9d-tab">
            </ul>
            <div class="c9d-tabcnt">

                <div class="ts-cs">
                    <!-- OLD DATA -->

                    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">POLÍTICA DE INFRACCIÓN DE DERECHOS DE AUTOR</font></font></h1>

                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ITQJ respeta los derechos de propiedad intelectual de otros.
                          </font><font style="vertical-align: inherit;">Si cree que su trabajo ha sido copiado de una manera que constituye una infracción de 
                        derechos de autor, proporcione al Agente de derechos de autor de ITQJ la información que se especifica a continuación en forma de 
                        "Notificación de presunta infracción". </font><font style="vertical-align: inherit;">La política de ITQJ es responder a Notificaciones
                        claras de presunta infracción, y nuestra política está diseñada para hacer que el envío de Notificaciones de presunta infracción sea lo 
                        más sencillo posible y, al mismo tiempo, reducir la cantidad de Notificaciones que recibimos que son fraudulentas o difíciles de entender 
                        o verificar. </font><font style="vertical-align: inherit;"></font>

                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOTIFICACIÓN DE DMCA DE SUPUESTA INFRACCIÓN DE DERECHOS DE AUTOR</font></font></h3>

                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Si desea enviar un reclamo de infracción
                        de derechos de autor por material, corrobore cada reclamo enviando al Agente de derechos de autor registrado de ITQJ
                        una Notificación de infracción reclamada al correo electrónico a continuación:</font></font></p>

                    <p>
                        <a href="mailto:copyright@ITQJ.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">copyright@ITQJ.com</font></font></a>
                    </p>


                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Para que se considere eficaz, se debe enviar una Notificación de presunta infracción por escrito e incluir la siguiente información:

                            </font>
                        </font>

                    </p><ol>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Firma física o electrónica del propietario, o una persona autorizada para actuar en nombre del propietario, de un derecho de autor exclusivo que supuestamente ha sido infringido.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Identificación del material protegido por derechos de autor que se alega que se ha infringido</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Identificación del material que se alega que infringe o que es objeto de una actividad infractora que se debe eliminar o cuyo acceso se debe deshabilitar</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información razonablemente suficiente para permitir que ITQJ localice el material que se alega que está infringiendo o que es objeto de una actividad infractora.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información razonablemente suficiente para permitir que ITQJ se comunique con la persona que envía la Notificación, como una dirección física, una dirección de correo electrónico y un número de teléfono.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Una declaración de que la persona que envía la Notificación cree de buena fe que el uso del material de la manera denunciada no está autorizado por el propietario de los derechos de autor, su agente o la ley.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Una declaración de que la información contenida en la Notificación es precisa y, bajo pena de perjurio, que la persona que envía la Notificación está autorizada para actuar en nombre del propietario de un derecho exclusivo que supuestamente ha sido infringido.</font></font></li>
                    </ol>
                    <p></p>


                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> CONTRA NOTIFICACIÓN DE DMCA</font></font></h3>

                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  Si opta por enviarnos una contranotificación, envíe un 
                        correo electrónico al agente de derechos de autor registrado de ITQJ al correo electrónico o la dirección postal a continuación:</font></font></p>

                    <p>
                        <a href="mailto:copyright@ITQJ.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">copyright@ITQJ.com</font></font></a>
                    </p>


                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Para que se considere efectiva, una contranotificación debe presentarse por escrito e incluir la siguiente información:

                            </font>
                        </font>
                    </p><ol>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Firma física o electrónica del Usuario o suscriptor o persona autorizada para actuar en nombre del Usuario o suscriptor.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Identificación del material que se ha eliminado o al que se ha deshabilitado el acceso y la ubicación en la que apareció el material antes de que se eliminara o se deshabilitara el acceso a él.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Una declaración bajo pena de perjurio de que el Usuario o suscriptor cree de buena fe que el material fue eliminado o desactivado como resultado de un error o identificación errónea del material que se eliminará o desactivará.</font></font></li>
                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El nombre, la dirección y el número de teléfono del usuario o suscriptor, y una declaración de que (1) el suscriptor consiente en la jurisdicción de (a) (para direcciones de R. D.) El Tribunal Federal de Distrito para el distrito judicial de los Estados Unidos de América en el que la dirección se encuentra, o (b) (para direcciones fuera de R. D.) el Tribunal de Distrito Federal para el Distrito Norte de California, R. D., y (2) el Usuario o suscriptor aceptará el servicio del proceso de la persona que envió la Notificación de Infracción Reclamada o un agente de dicha persona.</font></font></li>
                    </ol>
                    <p></p>


                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tenga en cuenta que, de conformidad con la Sección 512 (f) de la Ley de derechos de autor de los Estados Unidos, cualquier persona que, a sabiendas, declare falsamente que el material o la actividad se eliminó o desactivó por error o identificación errónea, puede estar sujeta a responsabilidad. </font><font style="vertical-align: inherit;">También tenga en cuenta que aplicamos una política que prevé la rescisión, en circunstancias apropiadas, de los Usuarios o suscriptores que son infractores reincidentes.</font></font></p>

                </div>

                <!-- OLD DATA -->


            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</article>
