@{
    ViewData["Title"] = "Politica de Cookies";
}


<article id="post-20989"class="post-20989 page type-page status-publish hentry" style="margin: 8% 0% 4% 0%;
        background: #ffffff; border-top: 2px solid #007DFF; border-bottom:2px solid #007DFF; ">

    <div class="gaf-container main-container ">

        <div class="sub-navigation"></div>

        <div id="main" class="container" aria-label="Contenido">

            <div class="clear"></div>
            <div class="c9d-space"></div>
            <ul class="c9d-tab">
            </ul>
            <div class="c9d-tabcnt">

                <div class="ts-cs">
                    <!-- OLD DATA -->

                        <div id="main_content">

                            <header class="bg-white border-bottom">
                                <div class="container-flex px3">
                                    <div class="mobile-table py3 py10-sm">
                                        <div class="mobile-table-cell py3 py7-sm center">

                                            <h2 class="mega mb0">
                                                Cookies y otras tecnologías
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </header>

                            <div class="container-flex px3 py3 py10-sm">
                                <div class="row">
                                    <div class="col-center col-8">

                                        <p>En la presente política se explica cómo usamos las cookies.</p>
                                        
                                        <div class="section-divider bg-green"></div>
                                        
                                        <h3 class="normal">Qué son</h3>
                                        
                                        <p>Las cookies son pequeños archivos de datos que se envían a su dispositivo al visitar un sitio web y que almacenan información sobre su uso de un servicio. Las etiquetas de pixeles (que también se llaman GIF transparentes, contadores de visitas o pixeles) son pequeños fragmentos de código o pequeñas imágenes incluidas en los sitios web y en los correos electrónicos que nos ayudan a saber cómo interactúa con nuestro sitios y correos electrónicos.</p>
                                        
                                        <div class="section-divider bg-green"></div>
                                        
                                        <h3 class="normal">Por qué las usamos</h3>

                                        <p>ITQJ utiliza cookies y otras tecnologías para poder reconocerlo como visitante asiduo y para mejorar la calidad de nuestros Servicios.</p>
                                        
                                        <div class="section-divider bg-green"></div>
                                       

                                        <ul>
                                            <li class="pl3 pl7-sm">
                                                <h4>Seguridad</h4>
                                                <p>Las cookies también ayudan a velar por la seguridad de ITQJ, facilitando funciones de seguridad y permitiéndonos detectar actividad que podría infringir nuestras reglas y <a class="link-ksr-green-700" href="/terms-of-use">Términos de uso</a>.</p>
                                                <p>Estas cookies evitan que terceros puedan acceder a su cuenta y nos alerta tanto a nosotros como a Usted en caso de que esto ocurriese. Además, nos brinda la capacidad de desactivar cualquier sesión activa que tenga cuando, por ejemplo, cierra sesión o cambia la contraseña.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Localización</h4>
                                                <p>Algunas cookies nos ayudan a ofrecer experiencias localizadas. Por ejemplo, nos permite mostrarle la página de ITQJ en su idioma preferido.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Servicios y funciones del sitio</h4>
                                                <p>ITQJ usa cookies funcionales que nos ayudan a ofrecer nuestros productos y servicios. Por ejemplo, al guardar sus preferencias o sugerir su nombre de usuario cuando inicia sesión.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Funcionamiento</h4>
                                                <p>Las cookies de funcionamiento nos ayudan a dirigir el tráfico entre los servidores y a saber cómo está funcionando ITQJ, a efectos de poder ofrecer la mejor experiencia posible. Podríamos utilizar kits de desarrollo de software (SDK por sus siglas en inglés) de terceros en nuestras aplicaciones móviles para recopilar datos sobre la actividad de la aplicación, el tipo de dispositivo, el sistema operativo en el que se está ejecutando y cómo funciona la aplicación. Por ejemplo, un SDK podría avisarnos si la aplicación falla y enviarnos informes sobre qué funciones de la aplicación son las más utilizadas.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Análisis e investigación</h4>
                                                <p>Las cookies y tecnologías de otra naturaleza también nos ayudan a comprender, mejorar e investigar funciones y contenido en el sitio de ITQJ. Por ejemplo, podríamos utilizar cookies para saber cómo descubre proyectos o para determinar desde qué tipos de navegadores o dispositivos se accede a ITQJ. Si desea quedar excluido de Google Analytics, <a class="link-ksr-green-700" href="https://tools.google.com/dlpage/gaoptout">Aquí</a>.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Redes sociales</h4>
                                                <p>Gracias a las cookies y a otras tecnologías, la interacción con las redes sociales se produce sin contratiempos. Por ejemplo, si está conectado a su cuenta en una red social mientras usa nuestros Servicios, estas tecnologías le permitirán compartir contenido con dicha red social o, en algunos casos, iniciar la sesión con sus credenciales de la red social. Estas funciones, por lo general, son controladas por la red social que esté utilizando y se rigen por sus propias políticas de privacidad y por las preferencias establecidas en dicho servicio.</p>
                                            </li>
                                            <li class="pl3 pl7-sm">
                                                <h4>Marketing</h4>
                                                <p>Las cookies nos ayudan a publicar anuncios personalizados en redes sociales basados en su actividad en ITQJ, incluidos los proyectos de los que ha sido mecenas o los creadores a los que ha seguido en ITQJ, y a realizar un seguimiento de los resultados de dichos anuncios, lo que en ocasiones se denomina publicidad comportamental (online behavioral advertising). En algunos casos, nuestros socios usan cookies para proporcionarnos información sobre sus interacciones con sus servicios. Estas cookies de terceros se regirían por las respectivas políticas del servicio de dichos terceros.</p>
                                                <p>Podrá optar por no recibir publicidad comportamental. El Self-Regulatory Program for Online Behavioral Advertising es un programa que ofrece a los usuarios la posibilidad de solicitar que su comportamiento digital no sea registrado y usado con fines publicitarios. Si desea que su comportamiento digital no sea recopilado con fines publicitarios, haga clic en <a class="link-ksr-green-700" href="http://optout.aboutads.info/?c=2#!/">Aquí</a>.</p>
                                                <p>Determinadas preferencias dependerán tanto del navegador como del dispositivo.</p>
                                            </li>
                                        
                                        </ul>
                                        
                                    </div>

                                </div>

                            </div>

                        </div>
                </div>

                <!-- OLD DATA -->


            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</article>
