@{
    ViewData["Title"] = "Privacidad";
}


<article id="post-20989" class="post-20989 page type-page status-publish hentry" style="margin: 8% 0% 4% 0%;
        background: #ffffff; border-top: 2px solid #007DFF; border-bottom:2px solid #007DFF; " >

    <div class="gaf-container main-container ">

        <div class="sub-navigation"></div>

        <div id="main" class="container" aria-label="Contenido">

            <h1 class="margin-t20 margin-b20">ITQL</h1>

            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Política de privacidad</font></font></h2>

            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13 de agosto de 2020</font></font></p>

            <h3 class="margin-t20 margin-b10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuestras obligaciones de privacidad</font></font></h3>

            <p>
                <font style="vertical-align: inherit;">

                    <font style="vertical-align: inherit;">
                        ITQJ.com ("
                    </font>

                </font><b>
                
                <font style="vertical-align: inherit;">
                    
                    <font style="vertical-align: inherit;">ITQJ</font>
                    
                </font></b>
                
                <font style="vertical-align: inherit;">
                
                    <font style="vertical-align: inherit;"> ") se rige por los Principios de privacidad dominicano en virtud de la </font>
                    
                </font>
                
                <i>
                
                    <font style="vertical-align: inherit;">
                    
                        <font style="vertical-align: inherit;">Ley de privacidad del Art. 44.2</font>
                    
                    </font>

                </i>
                
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        de la Constitución de la República Dominicana.
                    </font><font style="vertical-align: inherit;">
                        La Política de privacidad de ITQJ se aplica a la información personal recopilada y / o conservada por ITQJ.
                    </font>
                </font>
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Esta Política de privacidad también explica cómo procesamos los 'datos personales' de las personas en la Unión Europea (UE), según lo exige el Reglamento general de protección de datos (GDPR).
                    </font>
                </font>
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Revisaremos esta política con regularidad y es posible que la actualicemos de vez en cuando.
                    </font>
                </font>
            </p>

            <h3 class="margin-t20 margin-b10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los tipos de información personal que recopilamos y conservamos</font></font></h3>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Recopilamos información personal sobre nuestros usuarios para proporcionar nuestros servicios y atención al cliente.
                    </font>
                </font>
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        No toda la información solicitada, recopilada y procesada por nosotros es "Información personal", ya que no lo identifica como una persona física específica.
                    </font><font style="vertical-align: inherit;">Esto incluirá la mayoría del "Contenido generado por el usuario" que nos proporcione con la intención de compartir con otros usuarios. </font><font style="vertical-align: inherit;">Dicha "Información no personal" no está cubierta por esta política de privacidad. </font><font style="vertical-align: inherit;">Sin embargo, dado que la información no personal puede usarse en conjunto o vincularse con información personal existente; </font><font style="vertical-align: inherit;">cuando en este formulario se tratará como información personal. </font><font style="vertical-align: inherit;">
                        Como tal, esta política de privacidad enumerará ambos tipos de información en aras de la transparencia.
                    </font>
                </font>
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        En algunas situaciones, los usuarios pueden proporcionarnos información personal sin que nosotros la solicitemos, o por medios no destinados a la recopilación de tipos particulares de información.
                    </font><font style="vertical-align: inherit;">
                        Si bien podemos tomar medidas razonables para proteger estos datos, el usuario habrá pasado por alto nuestros sistemas, procesos y control y, por lo tanto, la información proporcionada no se regirá por esta política de privacidad.
                    </font>
                </font>
            </p>

            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        En algunas situaciones, los usuarios pueden proporcionarnos información personal a través de plataformas que están fuera de nuestro control;
                    </font><font style="vertical-align: inherit;">por ejemplo, a través de redes sociales o foros. </font><font style="vertical-align: inherit;">
                        Si bien cualquier información recopilada por nosotros se rige por esta Política de privacidad, la plataforma mediante la cual fue comunicada se regirá por su propia Política de privacidad.
                    </font>
                </font>
            </p>

            <h3 class="margin-t20 margin-b10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cómo recopilamos la información personal</font></font></h3>

            <h4 class="margin-t20 margin-b10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información que nos proporcionas específicamente</font></font></h4>

            <p>
                Mientras utiliza nuestros productos y servicios, es posible que se le solicite que proporcione ciertos tipos de información 
                personal. Esto puede suceder a través de nuestro sitio web, sistemas de chat en línea o teléfono. Le daremos un Aviso de Cobro
                en ese momento, para explicarle cómo usaremos la información 
                personal que le pedimos. El aviso puede ser escrito.

            </p>

            <p>
                Podemos solicitar, recopilar o procesar la siguiente información:
            </p>
            <ul>
                <li><b>Detalles de la cuenta</b> -  nombre de usuario, contraseña, foto de perfil.</li>
                <li><b>Detalles de contacto</b> - dirección de correo electrónico, número de teléfono.</li>
                <li><b>Datos de identidad </b> - nombre completo, prueba de identidad (por ejemplo,  cedula, rnc, pasaporte).</li>
                <li><b>Contenido generado por el usuario</b> - descripciones y archivos adjuntos del proyecto, descripción de la oferta, 
                perfiles de usuario, reseñas de usuarios, descripciones y mensajes de usuario, etc.</li>
            </ul>
            <p></p>

            <div class="clearfix"></div>

        </div>

    </div>

</article>
