@{
    string functionCall = (ViewBag.isPostulated || ViewBag.UserId == ViewBag.ToId) ?
    $"startChat('{ViewBag.ProjectId}', '{ViewBag.UserId}', '{ViewBag.UserName}', '{ViewBag.ToId}', '{ViewBag.isProfesional}')" :  
    "showPostulationNeed()";
}
<audio id="notification-audio">

    <source src="https://freesound.org/people/grey24/sounds/316798/download/316798__grey24__flyffnotif.wav" type="audio/wav">

    <source src="~/media/audios/new_message.wav" type="audio/wav">

    Your browser does not support the audio element.

</audio>

@*
    <div class="d-flex align-items-center" style="position: fixed; right: 0; top: 0; height: 100%;">

                <div id="fixed-right-chat-button">

                <button id="button-chat" onclick="toggleChat()" type="button" class="btn bg-info text-light">

                    <i class="fas fa-comment-dots fa-2x m-2"></i>

                </button>

            </div>

    </div>
*@

<div class="col-md-6 m-0" id="fixed-buttom-chat" style="position: fixed; bottom: 0; right: 0;">
        <div class="d-flex text-white"
            style="
            background-color: #007BFF;
            padding:0px;
            margin: 0px;
            border-radius: 5px 5px 0px 0px;"
            id = "trigger-button-chat"
            onclick="@functionCall">



        <button type="button" class="btn btn-block p-0 text-white">

            <label class="fas fa-comment-dots fa-1x m-2"> </label>

            <span class="h6 card-title text-white d-inline-block m-2">Mensajes</span>

        </button>

    </div>

    <div id="chat-container" style="box-sizing:border-box; padding:0px; margin:0px; border:1px solid #BCBCBC;">

        <div id="chat-form" class="row m-0 p-0" style="background-color: #fff;">

            <div class="col border border-primary rounded p-0" style="height: 400px;">

                <div id="chat-box">

                    <div id="messages-list" class="p-2" style="height: 280px; overflow-y: scroll; overflow-x: hidden;"></div>

                    <hr class="m-1 border-primary" />

                    <div class="form-group m-0 px-2" style="height: 120px;">

                        <div class="d-flex justify-content-center">

                            <div class="col-10 p-0 my-1 ml-1">

                                <textarea id="message" placeholder="Mensaje" class="form-control"
                                          required maxlength="500"></textarea>

                            </div>

                            @* <img src="/Image/send.svg" id="send" name="send" class="btn-outline-primary" style="height:40px; width:40px; margin:0px; padding:0px; outline: none;" /> *@
                            <button id="send" name="send" type="button" class="btn btn-normal p-0 mr-1">
                                <i class="fas fa-paper-plane fa-3x m-2"></i>
                                @* <i class="fas fa-angle-right fa-3x m-2"></i> *@
                            </button>

                        </div>

                    </div>

                </div>

                <div id="chat-placeholder" class="position-absolute"
                     style="left: 0; top: 0; background-color: rgba(255, 255, 255, 1); width: 100%; height: 280px;">

                    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">

                        <i class="fas fa-comment-slash fa-5x"></i>

                        <span class="m-2">No hay mensajes.</span>

                    </div>

                </div>

            </div>

            <div id="user-list" class="col-5 border border-primary rounded p-0" style="width: 300px; overflow-y: scroll; overflow-x: hidden;">

                <div id="connected-users" class="list-group list-group-flush" role="tablist"></div>

                <div id="users-placeholder" class="position-absolute" style="left: 0; top: 0; background-color: rgba(255, 255, 255, 0.4); width: 100%; height: 100%;">

                    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">

                        <i class="fas fa-users-slash fa-4x"></i>

                        <span class="m-2">No hay postulantes.</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
