@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITQJ.WebClient</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/ProfisionalSkill.css" rel="stylesheet" />
    <link href="/css/BarraConocimiento.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0358124a37.js" crossorigin="anonymous"></script>
</head>

<body>

    <header style="margin:0px; padding:0px; height:160px; margin-bottom:20px;">

        <div class="top-row bg-dark d-block col" style="width:100%; padding:0px; margin:0px; height:65px;">

            <div class="position-relative  bg-primary" style="width:100%; top:30px; z-index:2; height:30px; bottom:0px;">

            </div>
            <div style="left:50%; z-index:3; transform:translate(-50%,-20%); position:absolute;  display:inline-block; ">

                <div>

                    <a asp-action="Index" asp-controller="Home" asp-route-projectId="1">
                        <img src="/Image/Logo.png" style="
                             width: 125px;
                             height: 125px;
                             " />
                    </a>

                </div>

            </div>

            <div class="d-inline-block" style="position:absolute; z-index:3; right:5%; ">

                <nav class="navbar navbar-expand-md">


                    <div class="navbar-collapse">

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                            <div class="btn-group" role="group">

                                <button id="btnGroupDrop1"
                                        type="button" class="btn btn-dark dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Perfil
                                </button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="LogIn">Informacion Personal</a>
                                    }
                                    else if (ViewBag.UserRole == "Profesional")
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="PersonalInfo"
                                           asp-action="EditProfesional">Informacion Personal</a>
                                    }
                                    else if (ViewBag.UserRole == "Contratista")
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="PersonalInfo"
                                           asp-action="EditContratist">Informacion Personal</a>
                                    }

                                </div>

                            </div>

                            <div class="btn-group" role="group">

                                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reseñas
                                </button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="LogIn">Hacer Reseña</a>
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="LogIn">Mis Reseñas</a>

                                    }
                                    else
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Review"
                                           asp-action="Index">Hacer Reseña</a>
                                        <a class="dropdown-item"
                                           asp-controller="Review"
                                           asp-action="MyReviews">Mis Reseñas</a>

                                    }
                                </div>

                            </div>

                            <div class="btn-group" role="group">

                                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Proyectos
                                </button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="LogIn">Publicar proyecto</a>
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="LogIn">Mis proyectos</a>
                                    }
                                    else if (ViewBag.UserRole == "Profesional")
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Postulant"
                                           asp-action="MyPostulations">Mis postulaciones</a>
                                    }
                                    else if (ViewBag.UserRole == "Contratista")
                                    {
                                        <a class="dropdown-item"
                                           asp-controller="Project"
                                           asp-action="Publish">Publicar proyecto</a>
                                        <a class="dropdown-item"
                                           asp-controller="Project"
                                           asp-action="MyProjects">Mis proyectos</a>
                                    }
                                </div>

                            </div>

                            <div class="btn-group" role="group">

                                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acceso
                                </button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" asp-action="LogIn">Acceder con Auth0</a>

                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-action="LogOut">Finalizar sección</a>

                                    }

                                </div>

                            </div>

                            <div class="btn-group" role="group">

                                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ayuda
                                </button>

                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

                                    <a class="dropdown-item" asp-controller="Home" asp-action="About">Contacto</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </nav>

            </div>


        </div>


    </header>

    <div class="container">
        @if (ViewBag?.Errors != null)
        {
            <div class="alert-danger text-center">
                <h4>Un error inesperado ha ocurrido</h4>
                <p>
                    Errores en:<br />
                    @ViewBag?.Errors
                </p>
            </div>
        }
        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <footer class="border-top footer text-muted" style="height:50px;">

        <div class="container">

            &copy; 2020 - ITQJ.  WebPWA -<a class="dropdown-item text-center col-1 d-inline-block m-0 p-2" asp-action="Privacy" asp-controller="Home">Privacidad</a>

        </div>

    </footer>

    <partial name="_Chat" />

    <div style="width: 300px; position: fixed; bottom: 12px; right: 12px;">
        <div id="alert-container" style="width: 100%;"></div>
    </div>

    <div id="loader" class="loading-indicator">
        <div class="d-flex justify-content-center align-items-center">
            <img alt="loading"
                 src="https://media.giphy.com/media/feN0YJbVs0fwA/giphy.gif"
                 width="500"
                 height="500" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery-dateformat.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/Funciones.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
