
@model ITQJ.Domain.DTOs.PersonalInfoResponseDTO;

@{
    ViewData["Title"] = "Pagina de Editar perfil del Profesional";

}

<div style="width:90%; transform:translateX(5%);">

    <form asp-action="PutProfesionalInfo" asp-controller="PersonalInfo" style="margin:100px 0px 0px 0px; border:3px solid black; background:#007DFF;" class="p-5" method="post">

        <div hidden>

            <input asp-for="User.Id" type="text" />

            <input asp-for="User.Email" type="text" />

            <input asp-for="User.Role" type="text" />

            <input asp-for="Id" type="text" />

        </div>

        <div class="mt-3">

            <h4  asp-for="Name" class="d-block">Nombre</h4>

            <input required style="display: block; margin: 3px 0px 3px 10px; width:97%;" type="text" asp-for="Name" />

            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="mt-3">

            <h4 asp-for="User.Email" class="d-block">Correo</h4>

            <input style="display: block; margin: 3px 0px 3px 10px; width:97%;" type="email" asp-for="User.Email" />

            <span asp-validation-for="User.Email" class="text-danger"></span>

        </div>

        <div class="mt-3">

            <h4 asp-for="PhoneNumber" class="d-block">Numero de telefono</h4>

            <input required style="display:block; margin:3px 0px 3px 10px; width:97%;" type="text" asp-for="PhoneNumber" />

            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        </div>

        <div class="mt-3">

            <h4 id="Lling" asp-for="PagLink" class="d-block">Pagina</h4>

            <input id="Tling" style="display: block; margin: 3px 0px 3px 10px; width:97%;" type="text" asp-for="PagLink" />

            <span asp-validation-for="PagLink" class="text-danger"></span>

        </div>

        <div class="mt-3">

            <h4 id="Ldescripcion" asp-for="Description" class="d-block">Description</h4>

            <textarea id="Tdescripcion" style="display: block; margin: 3px 0px 3px 10px; height: 130px; width: 97%;" type="text" asp-for="Description"> </textarea>

            <span asp-validation-for="Description" class="text-danger"></span>

        </div>

        <div class="d-inline-block">

            <input id="bntGuardar" class="btn btn-dark m-3" type="submit" value="Guardar" />

            <a class="btn btn-dark m-3 text-white" asp-controller="PersonalInfo" asp-action="viewProfesionalInfo"> Cancelar </a>

        </div>

    </form>

</div>
