@model ITQJ.WebClient.ViewModels.PersonalInfoVM;
@{
    ViewData["Title"] = "Registro de Informacion Personal";
}

<div class="container">

    <div style="padding:3px; padding:10px;">

        <form asp-action="Register" method="post">

            <div hidden>
                <input asp-for="UserId" type="text" />
                @for (var index = 0; index < Model.DocumentTypes.Count; index++)
                {
                    <input type="text" asp-for="DocumentTypes[index].Id" />
                    <input type="text" asp-for="DocumentTypes[index].Name" />
                }
            </div>

            <h3>Introduca sus datos personales</h3>
            <div class="form-group">

                <label asp-for="Name" class="control-label">Nombre completo</label><br />

                <input required type="text" asp-for="Name" /><br />

                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="PhoneNumber" class="control-label">Número de telefono</label><br />

                <input required type="tel" asp-for="PhoneNumber" /><br />

                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="form-group">

                <i class="fas fa-pencil-alt prefix"></i>
                <label asp-for="Description" class="control-label">Pequeña descripción</label><br />

                <textarea required class="md-textarea form-control" asp-for="Description"></textarea><br />

                <span asp-validation-for="Description" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="PagLink" class="control-label">Enlace a su sitio web</label><br />

                <input type="text" asp-for="PagLink" /><br />

                <span asp-validation-for="PagLink" class="text-danger"></span>

            </div>

            <hr />
            <h3>Ingrese los datos legales</h3>

            <div class="form-group">

                <label asp-for="LegalDocument.Number" class="control-label">Numero de identidad</label><br />

                <input required type="text" asp-for="LegalDocument.Number" /><br />

                <span asp-validation-for="LegalDocument.Number" class="text-danger"></span>

            </div>

            @*TODO: agregar soporte  de imagenes.
                <div class="form-group">

                        <label asp-for="LegalDocument.Image" class="control-label">Foto del documetno legal</label><br />

                        <input type="file" asp-for="LegalDocument.Image" /><br />

                        <span asp-validation-for="LegalDocument.Image" class="text-danger"></span>

                </div>*@

            <div class="form-group">

                <label asp-for="LegalDocument.DocumentTypeId">Tipo de documento</label><br />

                <select asp-for="LegalDocument.DocumentTypeId"
                        class="dropdown"
                        asp-items="@(new SelectList(Model.DocumentTypes, "Id", "Name"))">
                </select>

            </div>

            @if (ViewBag.UserRole == "Profesional")
            {
                <input type="submit" class="btn badge-dark" style="float:none;" value="Continuar registro" />
            }
            else
            {
                <input type="submit" class="btn badge-dark" style="float:none;" value="Finalizar registro" />
            }

        </form>

    </div>

</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}
